* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar h1 {
    margin: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.sidebar {
    background-color:gainsboro;
    width: 250px;
    float: right;
    padding: 20px;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.authors {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content {
    margin-right: 280px; 
    padding: 20px;
}

.books {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.book {
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.book:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.book img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.book h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.book p {
    font-size: 14px;
    color: #777;
}

.top-author {
    background-color: #ffc107;
    padding: 20px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.top-author h2 {
    font-size: 28px;
}
